.specials {
    background: rgba(0, 0, 0, 0.274) url(images/tetxtura-papel.jpg);
  
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
    overflow: hidden;
  }

.section-title h2 {
    font-size: 3rem;
    font-family: 'BROTHERS', sans-serif;
    color: #7a1332;
    filter: drop-shadow(0.2rem 0.2rem 0rem #ffb007fa);
}

.section-title p {
    font-size: 1.2rem;
    font-family: 'BROTHERS', sans-serif;
    color: #7a1332;
    filter: drop-shadow(0.1rem 0.1rem 0rem #ffb007fa);
}


  .specials .nav-tabs {
    border: 0;
    
  }
  .specials .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: rgb(0, 0, 0);
    border-radius: 0;
    border-right: 2px solid #000000;
    font-weight: 600;
    font-size: 15px;
  }
  .specials .nav-link:hover {
    color: #9b1b41;
  }
  .specials .nav-link.active {
    color: #1a1814;
  }
  .specials .nav-link:hover {
    border-color: #000000;
  }
  .specials .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  .specials .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  .specials .details p {
    color: #7c7c7c;
  }
  .specials .details p:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 992px) {
    .specials .nav-link {
      border: 0;
      padding: 15px;
    }
  }